/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.09.2017, 20:36:48
    Author     : Alexander
*/
@font-face {
    font-family: "cricket";
    src: url(cricket.ttf);
    /*src: url(geometric.eot);*/     
}

*{margin: 0;padding: 0;font-family: 'cricket';box-sizing: border-box;}
body{
    /**/
    background: url(../Img/fon.png)no-repeat center center fixed;
   
    -webkit-background-size:100vh auto;
    -moz-background-size:100vh auto;
    -o-background-size: 100vh auto;
     background-size:cover;

    position: relative;
    min-height: 100vh;
min-width: 800px;
width:100%;
}
a{color:#FFFFFF;text-decoration: none;}
a:active, a:focus{background:transparent;text-decoration: none;}
.row0{position: relative; height: auto;}
/*
.row1{border-bottom:1px solid;font-size:30px; }
.row1{color:#FFFFFF; background-color:#301C53;border-color:rgba(255,255,255,.1);}

header{ font-size:30px;}*/
/* Навигация
--------------------------------------------------------------------------------------------------------------- */

nav{z-index: 9999;text-align:  center;}
nav ul{ margin:0; padding:0; list-style:none;}
#mainav{ 
    padding: 2px;
    padding-left: 7px;
    background-color:gray;
    font-size: 25px;

    min-width: 431px;
    position: fixed; 
    top: 0;left: 50%; 
    transform:translate(-50%,0%) ;
    border-width :3px;border-style: solid;
    border-color:#FFFFFF;
}
#mainav ul{ text-transform:uppercase;}
#mainav ul ul{z-index:9999;visibility:hidden; position:absolute;  text-transform:none;}

#mainav ul li:hover > ul{visibility:visible; }
#mainav li{  display:inline-block; position:relative; margin:0 5px 0 0;}
#mainav li a{color:#FFFFFF; padding:15px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li{width:100%; margin:0;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(27,32,38,.3); border-color:rgba(0,0,0,.6); }
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:red;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:red; background-color:inherit;}
#mainav form select{color:#FFFFFF; background-color:red; border-color:#FFFFFF;}
#but{  
    padding: 5px;
    position:absolute;
    bottom: 10%;
    left: 50%;
    transform:translate(-50%,0) ;
    background-color: red;
    border-color: lightgrey;
    border-style: initial;
    border-radius: 7px; 
    color: #FFFFFF;
    font-family: 'cricket';
    font-weight: bold;
    font-size: 30px;
    font-style: initial;
height:40px;
border-style: solid;
border-width: 3px;
}
#bgHead{
    border: 0;
    padding: 0;
    margin: 0;
    width:100%;
}
#logo{
    position:absolute;
    top: 60px;
    left: 50%;
    transform:translate(-50%,0%) ;
    color: red;
    font-weight: bold;
    font-size: 55px;
    text-transform:uppercase;
    text-shadow: 2px 2px 10px rgb(50,50,50), -2px -2px 10px gray ;
}
#f1{ height: 30px;}
footer{
    z-index: 1;
    position: absolute;
    bottom : 0;
    background-color: grey; 
    height: 30px;
    width: 100%;
    text-align: center;
}
footer p{
    margin-top:10px; 
    position: relative;
    font-family: sans-serif;
    color: darkgray;
}

#main-div{

    position: relative;
    align-content: center;
    width: 100%;
}
#main-content{
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    /*hyphens: manual;*/
    width: 50%;

    position: relative;
    left: 25%;
    font-family: 'cricket';
    font-size: 20px;
    color: black;
}

#main-content h1{
    text-align: center;
    font-family: 'cricket';
    font-size: 30px;
    color: red;
}

#contacts{
    margin-left: 25%;
    width: 50%;

}
#contacts p{
    margin-bottom: 10px;
    margin-top: 20px;
}
#map{
   border:0;
   width:100%;
   height:400px;
}
.service{
    margin-top: 10px;
    margin-bottom: 15px;
    border-width: 6px;
    border-color: rgba(58, 58, 58, 0.23);;
    border-style: double;
    border-radius: 4px; 
    background-color: rgba(148,148,148,0.7);
    width: 100%;
    padding: 5px;
}
.descriptionofservice{

}
.service img{
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    width: 50%;
    
}
.service h3{
    margin-bottom: 5px;
}
.action{  
    display: inline-table;
    margin: 5%;
    margin-bottom: 5px;
    border-width: 6px;
    border-color: rgba(58, 58, 58, 0.23);;
    border-style: double;
    border-radius: 4px; 
    background-color: rgba(148,148,148,0.7);
    width: 39%;
    padding: 5px;
}
.action img{
    margin-left:  5%;
    margin-top:  10px;
    width: 90%;
}
.action h4{
    margin-bottom: 5px;
}

/*@media   (max-width: 1024px) and (min-width: 800px){
    #mainav{ 

        font-size: 25px;

        min-width: 431px;

    }
    #but{  
        font-weight: bold;
        font-size: 30px;
    }
    #logo{
        font-size: 55px;
    }
    #main-content h1{
        font-size: 30px;
    }#main-content{
        font-size: 20px;
    }

}*/
@media screen and (max-device-width:768px) {
    
   
body{
    /**/
    background: url(../Img/fonmin.png)no-repeat center center fixed;
        -webkit-background-size: 100vh auto;
    -moz-background-size: 100vh auto;
    -o-background-size: 100vh auto;

    background-size: cover;

    position: relative;
    min-height: 100vh;
min-width: 0px;
width:100%;
}


/* Навигация
--------------------------------------------------------------------------------------------------------------- */

#mainav{ 
    padding-left: 7px;
    font-size: 55px;
    width: 100%;
    min-width:0px;
}



#mainav li li a{border-width:0 0 1px 0;}
#but{  
    padding: 10px;
    bottom: 10%;
    left: 50%;
    transform:translate(-50%,0);
    border-radius: 12px; 
    font-size: 80px;
    height:100px;
    border-width: 5px;
}

#bgHead{ width:100%;}

#logo{
    top: 70px;
    left: 50%;
    font-size: 120px;
}
#f1{ height: 30px;}
footer{ height: 30px;}
footer p{
    margin-top:10px; 
    position: relative;
    font-family: sans-serif;
}

#main-div{
    width: 100%;
}
#main-content{
    width: 90%;
    left: 5%;
    font-size: 20px;
}

#main-content h1{
    font-size: 90px;
}

#contacts{
    left: 50%;
    width: 50%;
font-size: 50px;
}
#map{
   border:0;
   width:100%;
   height:800px;
}
#contacts p{
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 65px;
}

.service{
    margin-top: 10px;
    margin-bottom: 15px;
    border-width: 6px;
    border-radius: 4px; 
    width: 100%;
    padding: 5px;
}
.service img{
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    width: 50%;
    
}
.service h3{
    margin-bottom: 5px;
}


.action{  
       display: block;
    margin: 10%;
    margin-bottom: 5px;
    border-width: 6px;
    border-style: double;
    border-radius: 4px;
    width: 80%;
    padding: 5px;
}
.action img{
    margin-left:  5%;
    margin-top:  10px;
    width: 90%;
}
.action h4{
    margin-bottom: 5px;
}
}
/*
@media screen and no (hand)and (max-width:900px) {
     #mainav{ 
        font-size: 20px;
        min-width: 280px;
    }
    
}*/