/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.10.2017, 22:20:28
    Author     : Alexander
*/ 
@font-face {
    font-family: "cricket";
    src: url(cricket.ttf);
    /*src: url(geometric.eot);*/     
}
#zatemnenie {
    position: absolute;
    z-index: 999;
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#okno {
    width: 50%;
    height: auto;

    padding: 15px;
    border: 3px solid red;
    border-radius: 10px;
    color: red;
    position: fixed;
    top: 10%;
    right: 0;
    left: 0;
    margin: auto;
    background: darkgray;
}
#zatemnenie:target {display: block;}

.content{


}
#content{
    
}
#labels{
    float: left;
    width: 50%;
    text-align: left;
    
}
#tfs{
    float: right;
    width: 50%;
    text-align: right;
}
label{
    height: 30px;
    margin-bottom: 22px;
    margin-top: 12px;
    position: relative;
    left: 10px;
    color: red;
    font-family: 'cricket';
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
    display: block;
    height: 30px;
    font-style: initial; 
}
.tfanderror{
    
    height: 52px;
    width: 100%;
}
.tf{
    
    margin-bottom: 10px;
       margin-top: 14px;
    position: relative;
   width: 100%;
    padding: 5px;
    height: 30px;
    background-color: #FFFFFF;
    border: 2px solid #ccccff;
    
    border-radius: 7px;  
    color: red;
    font-family: 'cricket';
    font-weight: bold;
    font-size: 20px;
    font-style: initial; 
}

.error{
    font-size: 12px;
    height: auto;
    margin:0px 15px 0px 0px;
    padding: 0px;
    display: none;
}
.error_input{
    
    border: 2px solid #FF0000; 
    margin-top: 2px;
    margin-bottom: 8px;
    border-radius: 7px;  
}

#close {
    padding: 5px;
    background-color: red;
    border-color: lightgrey;
    border-style: initial;
    border-radius: 7px; 
    color: #FFFFFF;
    font-family: 'cricket';
    font-weight: bold;
    font-size: 22px;
    font-style: initial;
}
#close:hover {background: blue;}
